* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.02em;
  background-color: #091413;
}

.container {
  margin: 50px;
}

.navbar ul {
  animation: fadeUp 0.8s ease;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  list-style: none;
  margin-right: 25px;
  font-size: 20px;
}

.navbar ul li.nama {
  margin-left: auto;
  margin-right: 0;
  color: #698175;
}

.navbar ul li a {
  text-decoration: none;
  color: #b0e4cc;
  transition: 0.3s;
}

.navbar ul li a.active {
  color: #698175;
  border-bottom: 2px solid #698175;
  padding-bottom: 4px;
  font-weight: 500;
}

.navbar ul li a:hover {
  color: #698175;
}

.footer {
  margin-top: 120px;
  padding: 60px 0;
  animation: fadeUp 1.3s ease;
  border-top: 1px solid #2d5f4d;

  text-align: center;
}

.footer h3 {
  color: #b0e4cc;
  font-size: 28px;
  margin-bottom: 15px;
}

.footer p {
  color: #7c9286;
  max-width: 650px;
  margin: auto;
  line-height: 1.8;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 30px;

  margin: 35px 0;
}

.footer-social a {
  color: #b0e4cc;
  text-decoration: none;

  transition: 0.3s;
}

.footer-social a:hover {
  color: white;
}

.copyright {
  font-size: 14px;
  color: #5c6d63;
}

.u {
  border-bottom: #698175 solid 2px;
}

.link {
  color: #b0e4cc;
  text-decoration: 0;
  padding-inline: 10px;
  border: #b0e4cc solid 2px;
  display: inline-block;
  transition: 0.3s ease;
  border-radius: 20px;
}

.link:hover {
  color: #091413;
  background-color: #b0e4cc;
}

.highlight {
  color: #b0e4cc;
  background: #173328;
  text-decoration: 0;
  padding-inline: 10px;
  border: #b0e4cc solid 1px;
  display: inline-block;
  transition: 0.3s ease;
  border-radius: 20px;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ======================= Media Query ======================= */
